<a href="mailto:?subject={{title}}&body={{url absolute="true"}}" target="_blank" rel="noopener noreferrer"
  class="social-icon-box" title="Share via Email"><i class="fa-regular fa-envelope text-sm"></i></a>

<button onclick="navigator.clipboard.writeText('{{url absolute="true"}}'); alert('Link copied!');"
  class="social-icon-box" title="Copy Link"><i class="fa-solid fa-link text-sm"></i></button>

{{!-- Social Share Links --}}
  <a href="https://x.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}" target="_blank"
    rel="noopener noreferrer" class="social-icon-box">
    <i class="fa-brands fa-x text-sm"></i>
  </a>
  <a href="https://facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener noreferrer" class="social-icon-box">
    <i class="fa-brands fa-facebook text-sm"></i>
  </a>
  <a href="https://linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
    target="_blank" rel="noopener noreferrer" class="social-icon-box">
  <i class="fa-brands fa-linkedin-in text-sm"></i>
  </a>
  <a href="https://api.whatsapp.com/send?text={{encode title}}%20{{url absolute="true"}}" target="_blank"
    rel="noopener noreferrer" class="social-icon-box">
  <i class="fa-brands fa-whatsapp text-sm"></i>
  </a>

  <a href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}" target="_blank"
    rel="noopener noreferrer" class="social-icon-box">
    <i class="fa-brands fa-reddit text-sm"></i>
  </a>

  <a href="https://mastodon.social/share?text={{encode title}}%20{{url absolute="true"}}" target="_blank"
    rel="noopener noreferrer" class="social-icon-box">
    <i class="fa-brands fa-mastodon text-sm"></i>
  </a>
{{! End of social share links }}
{{! End of partials/social-share.hbs }}