{{!< default}}


{{#post}}
<div class="gh-content">
<div class="table-responsive">

                  <table>
                    <thead>
                      <tr>
                        <th>{{t "Name"}}</th>
                        <th>{{t "Description"}}</th>
                        <th>{{t "Posts"}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#get 'tags' limit='100' include='count.posts,description,feature_image' order='count.posts desc'}}
                        {{#foreach tags}}
                          <tr>
                            <td>
                              <a href="{{url}}">{{name}}</a>
                            </td>
                            <td>
                              <span>{{description}}</span>
                            </td>
                            <td>
                              <span>
                                {{plural count.posts empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
                              </span>
                            </td>
                           </tr>
                        {{else}}
                          <tr>
                            <td colspan="3" class="border border-gray-200 dark:border-gray-700 px-4 py-8 text-center text-gray-500">
                              {{t "No tags found"}}
                            </td>
                          </tr>
                        {{/foreach}}
                      {{/get}}
                    </tbody>
                  </table>
</div>
</div>
  
{{/post}}